*.DotSettings.user
*.crunchsolution.cache
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user
*.suo
*.userprefs
Backup
UpgradeLog.*
_NCrunch*
_ReSharper*
_UpgradeReport_Files
bin
obj
test-results/
